<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Jamie Figueroa Weston">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jamie Jane's Website">
    <title>Jamie Jane Figueroa Weston</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "./static/script.js" defer></script>
</head>
<body>
    <header>
         <h1 id = "webname">Jamie Jane Figueroa Weston</h1>
         <nav> 
            <a href="../index.html">ABOUT</a>
            <a href="cv.html">RESUME</a> 
            <a href="contact.html">CONTACT</a> 
            <a href="fun.html">FAQ</a>
        </nav>
    </header>
    
    <div> 
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Watching movies</li>
            <li>Listening to music</li>
            <li>Reading non-fiction books</li>
            <li>Cooking Spanish food</li>
            <li>Walks on the beach</li>
        </ul>
    </div>
    
    <footer>
        &copy; 2025 designed and coded by Jamie Jane Figueroa Weston
    </footer>
</body>
</html>
