<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Jamie Figueroa Weston">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jamie Jane's Website">
    <title>Curriculum Vitae - Jamie Jane Figueroa Weston</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "../static/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body onload="addYear(); greetingFunc();">
    <header>
         <h1 id = "webname">Jamie Jane Figueroa Weston</h1>
         <nav> 
            <a href="../index.html">ABOUT</a>
            <a href="cv.html">RESUME</a>
            <a href="contact.html">CONTACT</a>
            <a href="fun.html">FAQ</a>
        </nav>
    </header>
    
    <div> 
        <h2>Curriculum Vitae</h2>
        <p>Below is a summary of my academic, work, and project experiences. You can also download my full resume in PDF format.</p>

        <table border = "1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Education</td>
                <td>Bachelor of Science in Information Systems at Carnegie Mellon University.</td>
            </tr>
            <tr>
                <td>Work Experience</td>
                <td>Worked as Tech Ambassador for the San Diego Alzheimer’s Association, improving website accessibility.</td>
            </tr>
            <tr>
                <td>Leadership</td>
                <td>App Developer Committee Member at ScottyLabs, Activity Board Member at Girls Who Code.</td>
            </tr>
            <tr>
                <td>Technical Skills</td>
                <td>Proficient in Java, Python, MySQL, Git, Unix, JavaScript, React, and Ruby on Rails.</td>
            </tr>
            <tr>
                <td>Research</td>
                <td>Participated in the REU CACTI Lab at Harvey Mudd College, exploring human-centered design and climate tech.</td>
            </tr>
        </table>

        <br>

        <p>
            📄 <strong>Download my full resume here:</strong>
            <a href="../static/JamieFigueroaWestonResume.pdf" target="_blank">
                JamieFigueroaWestonResume.pdf
            </a>
        </p>
    </div>
    
    <footer>
        <p id="copyYear"></p>
        designed and coded by Jamie Jane Figueroa Weston
    </footer>
</body>
</html>
