<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Jamie Figueroa Weston">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jamie Jane's Website">
    <title>Contact Me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial;">
    <header>
         <h1>Jamie Jane Figueroa Weston</h1>
         <nav> 
            <a href="../index.html">Home</a> |
            <a href="cv.html">CV</a> |
            <a href="contact.html">Contact Me</a> |
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    
    <div> 
        <h2>Contact Me</h2>
        <p>If you'd like to get in touch, please fill out the form below or reach out using my contact information.</p>

        <!-- Contact Form -->
        <form action="#" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment" rows="10" required></textarea><br><br>

            <input type="submit" value="Submit">
        </form>

        <h3>My Contact Information:</h3>
        <table border="2">
            <tr>
                <th>Contact Type</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Email</td>
                <td><a href="mailto:jamiefweston@gmail.com">jamiefweston@gmail.com</a></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>(760) 334-3260</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/jamiefigueroaweston" target="_blank">My LinkedIn</a></td>
            </tr>
        </table>
    </div>
    
    <footer>
        &copy; 2025 designed and coded by Jamie Jane Figueroa Weston
    </footer>
</body>
</html>
